

@{
    <style>
        table, th, td {
            border: 1px solid black;
            border-radius: 10px;
            
        }
    </style>


    @model IEnumerable<Employee>
    ViewBag.Title = "Employee";

    <div><b><h2>Employee Information</h2></b><br /></div>
    <br />

    




    <table class="table table-bordered " align="center">

        <h5>Name:-  @ViewBag.Name</h5> 
        
        <h6>Address:- @ViewData["Address"]</h6> 
        <br />
        @*@TempData["Name"]*@

        <tr>
            <th>Employee Id </th>
            <th>EmployeeName </th>
            <th> Employee Department</th>
            <th>Employee View Details</th>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeId</td>
                <td>@employee.EmployeeName</td>
                <td>@employee.EmployeeDepartment</td>
                <td>@Html.ActionLink("View Employee", "ViewById", new { id = employee.EmployeeId })</td>
            </tr>

        }
    </table>

}